ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
  }
  li {
    float:right;
  }
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: rgb(121, 1, 1);
  }
  h1 {
    text-align: right;
    color: rgb(121, 1, 1);
  }